@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --wrapper-width: 1100px
}
@layer base {
  body {
    @apply flex flex-col items-center border-black border-2 h-screen;
    font-family: "Montserrat"
  }
}
@layer components {
  .wrapper {
    max-width: var(--wrapper-width);
    width: var(--wrapper-width);
  }
  nav {
    @apply flex w-full p-5 items-center border-b-2 justify-between;
  }

  .menu {
    @apply flex flex-row gap-14;
  }

}
.MuiFormHelperText-root {
  @apply text-red-500
}
